body { /*centering and perfecting the background image*/
  background-color: lightgrey;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(../img/redhands.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

div.clearBar {
  background-color: rgba(255, 255, 255, 0.3);
  width:850px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}


h1 {
  font-size: 400%;
  font-family: 'Monoton', cursive;
  letter-spacing: 20px;
}

h2 { /*styling for the header "Search Bander"*/
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 250%;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    font-size: 140%;
}

select {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  padding: 7px 17px;
}

.button { /*styling for the search button*/
  background-color: #202020;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}





/*search button details
input {
  width: 10%;
  background-color: red;
  border: none;
  color: color;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}*/


/*search bar width
input[type=text]:focus {
    width: 50%;
    text-align: left;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
} */
