body {
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(../img/whiteconcert.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

div.clearBar {
  background-color: rgba(255, 255, 255, 0.4);
  width:850px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h1 {
  font-size: 400%;
  font-family: 'Monoton', cursive;
  letter-spacing: 20px;
}

h2 { /*styling for the header "Search Bander"*/
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 250%;
}


/*"body" of page*/
#not-menu{
  transition: margin-left .5s;
  padding: 0%;
  text-align: center;
}

/*user photo*/
.userPhoto{
  display: block;
  margin: auto;
}

/*like button*/
button{
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid black;
}

/*check mark icon*/
/*CHANGE SIZE TO PERCENT*/
img{
  height: 50px;
  width: 50px;
}
