/*"body" of page*/
#not-menu{
  background-color: lightgrey;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(../img/browseImg.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

/*user photo*/
.userPhoto{
  display: block;
  margin: auto;
}

/*like button*/
button{
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid black;
}

/*check mark icon*/
/*CHANGE SIZE TO PERCENT*/
img{
  height: 50px;
  width: 50px;
}
