body {
  background-image: url("C:/Users/Girls Who Code/Desktop/sonjaBandr/BANDER/bander/www/img/headphones.jpg");
  background-size: 100%
  /*background-repeat: no-repeat;
  background-color: gray;*/
}

.sorry {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
