h1 {
    font-size: 400%;
    color: white;
    text-align: center;
    letter-spacing: 20px;
    font-family: 'Monoton', cursive;
}
h2 {
    text-align: center;
    color: #202020;
    font-size: 300%;

}

input {
    width: 40%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 7px 17px;
    font-size:20px;

}

p {
    text-align: center;
    font-size:180%;
    color: white;
}

button {

    background-color: #202020;
    color: white;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

body {
    background-image: url("../img/bluetime.jpg");
    background-size: 125%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
div {
    background-color: rgba(255, 255, 255, 0.3);
    width: 850px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}