/*side bar*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*Sidenav Menu Links*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Sidenav Menu Close Button*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*Sidenav Menu Hamburger Icon Position*/
.box-shadow-menu{
  position: static;
  padding-left: 1.25em;
}

/*Sidenav Menu Hamburger Icon Bars*/
.box-shadow-menu:before{
  content: "";
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  width: 3em;
  height: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    0 1em 0 0 black,
    0 2em 0 0 black;
}
/*topnav formatting*/
.topnav {
  background-color: gray;
}
